@import "../plugins/bootstrap/scss/bootstrap";

@import 'vars';
@import 'buttons';


.full-width {
    width: 100%;
    min-height: 100vh;
}

* {
    &:focus {
        box-shadow: none!important;
    }
}

body {
    background-color: #EEEEEE;
    margin:0!important;
    padding:0!important;

    .kyusi {
        text-align: left;
        font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .editor-container {
        min-height: 90vh;
    }

    .css {
        min-height: 100vh;
        background-color: #19221c;
        color: #fff;
        resize: none;

        &:focus {
            background-color: #19221c;
            color: #fff;
        }
    }
    
    .CodeMirror {
        text-align: left;
        font-size: 14px;
        min-height: 100vh;
    }
}

.error-message {
    display: none;
}

[main-left] {
    background-color: $bgColor;
    min-height: 100vh;
}

.form-group {
    margin:0.5rem 0;
}



.iframe__container {
    iframe {
        width: 100%;
        min-height: 100vh;
    }
}